header {
    width: 100%;
    height: 100vh;
    background: url(../img/bg.jpg) fixed center;
    background-size: contain;
    background-size: cover;
}


.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

#bg img{
    z-index: 9999;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 160px;
    z-index: 9999;
}


nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
  
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
ul li a:hover{
    color: rgb(255, 230, 0);
    text-decoration: none;
    
    line-height: 1;
    transition: all .5s ease-in;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px) {
    header {
        width: 100%;
        height: 150vh;
        
    }
   
    img{
        margin-top: 50px;
    }
    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    .menu-icon {
        line-height: 60px;
        width: 100%;
        background: url(../img/bg.jpg) fixed center no-repeat;
          background-size: cover;
        text-align: right;
        box-sizing: border-box;
        padding: 15px 24px;
        cursor: pointer;
        color: #fff;
        display: none;
    }
    nav ul {
          max-height: 0px;
          background: url(../img/bg.jpg) fixed center no-repeat;
          background-size: cover;
    }

    nav.black ul {
        background: url(../img/bg.jpg) fixed center no-repeat;
        background-size: cover;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
          
    }

}
